<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Game Data</title>
</head>
<body>
    <h1>Insert Game Data</h1>
    <form action="/insert_game" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="date">Date:</label><br>
        <input type="date" id="date" name="date"><br>
        <label for="gameCode">Game Code:</label><br>
        <input type="text" id="gameCode" name="gameCode"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>